{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Update Item{% endblock title %}

{% block content %}
    
<br>
<div class="card">
  <h5 class="card-header">Update Item: </h5>
  <div class="card-body">
    <p class="card-text">
        <form action="{% url 'item-update' restaurant_obj.id item_obj.id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form|crispy}}
            <input type="submit" value="Update" class="btn btn-outline-success">
        </form>
    </p>
  </div>
</div>
{% endblock content %}
